/*
 * Layouts for a slide
 */
.container, .two-columns, .two-columns-equal, .two-columns-small-right, .two-rows, .two-rows-equal, .two-rows-notes {
  display: grid;
  grid-gap: 0.5ex;
  max-width: none;
  max-height: none; }

/*
/* Two columns:
/* .---------------------------------------------.
/* |    .container .two-columns                  |
/* |                                             |
/* |   .---------.--------------------------.    |
/* |   |  div1   | div2                     |    |
/* |   |         |                          |    |
/* |   |         |                          |    |
/* |   |         |                          |    |
/* |   |         |                          |    |
/* |   |         |                          |    |
/* |   |         |                          |    |
/* |   .---------.--------------------------.    |
/* .---------------------------------------------.
*/
.two-columns {
  grid-template-columns: 1fr 1.61803fr; }

.two-columns-equal {
  grid-template-columns: 1fr 1fr; }

.two-columns-small-right {
  grid-template-columns: 1.61803fr 1fr; }

/*
/* Two columns, two rows:
/* .---------------------------------------------.
/* |    .container .two-rows                     |
/* |                                             |
/* |   .---------.--------------------------.    |
/* |   |  div1   | div2                     |    |
/* |   |         |                          |    |
/* |   |         |                          |    |
/* |   |         |                          |    |
/* |   |         |                          |    |
/* |   .---------.--------------------------.    |
/* |   |  div3   | div4                     |    |
/* |   .---------.--------------------------.    |
/* .---------------------------------------------.
*/
.two-rows {
  grid-template-rows: 1.61803fr 1fr; }

.two-rows-equal {
  grid-template-rows: 1.61803fr 1fr; }

/*
/* Two columns, two rows plus area for notes:
/* .---------------------------------------------.
/* |    .container .two-rows-notes               |
/* |                                             |
/* |   .---------.--------------------------.    |
/* |   |  div1   | div2                     |    |
/* |   |         |                          |    |
/* |   |         |                          |    |
/* |   |         |                          |    |
/* |   |         |                          |    |
/* |   .---------.--------------------------.    |
/* |   |  div3   | div4                     |    |
/* |   .------------------------------------.    |
/* |   |  .note                             |    |
/* |   .------------------------------------.    |
/* .---------------------------------------------.
*/
.two-rows-notes {
  grid-template-rows: 1.61803fr 1fr auto; }

.grid-cell, .note, .top-left, .top-right, .bottom-left, .bottom-right {
  overflow: hidden; }

.note {
  grid-column: 1 / span 2;
  grid-row: 3; }

.top-left {
  grid-column: 1;
  grid-row: 1; }

.top-right {
  grid-column: 2;
  grid-row: 1; }

.bottom-left {
  grid-column: 1;
  grid-row: 2; }

.bottom-right {
  grid-column: 2;
  grid-row: 2; }

.two-cols-wide {
  grid-column-end: span 2; }

.two-rows-high {
  grid-row-end: span 2; }

.scale-to-cell, .scale-width, .scale-height {
  min-width: inherit;
  min-height: inherit;
  -o-object-fit: contain;
     object-fit: contain; }

.scale-width {
  width: 95%;
  height: auto; }

.scale-height {
  width: auto;
  height: 95%; }

.text {
  text-align: left; }

.inline-icon {
  height: 2em;
  width: 2em; }

.license-container * {
  vertical-align: middle; }

/*# sourceMappingURL=slides.css.map */
