// Color definitions
$color-dark-bg:  rgba(0,0,0,0.9);
$color-white:  rgba(255,255,255,0.9);
$color-black:  #000000;
$color-red:  rgb(212, 5, 17);
$color-blue:  #29569e;
$color-green:   #007c39;
$color-yellow:  rgb(255, 204, 0);
