/* Presentation slide */

@import '_slide_12_grid';

.project-overview {
    font-size: x-large;
}

.slide--2col {
    @extend .container;

    //font-size: medium;
    //text-align: left;

    .text {
        text-align: left;
    }

    .container__left {
        @extend .container__col-6;
        @extend .text;
    }

    .container__left {
        @extend .container__col-6;
    }

    .container__row--bottom {
        @extend .container__row;
        position: absolute;
        bottom: 0;
    }
}
