@import '_colors';
// @import '_harveyballs';
// @import '_traffic-light';
@import '_slides_fine';
@import '_slides_coarse';

.inline-icon {
  height: 2em;
  width: 2em;
}

.license-container * {
    vertical-align: middle;
}
